.main-Row-Face {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
}
.card-Main-Col {
  height: 470px;
}
.dp-Pic-Text-Col {
  display: flex;
  align-items: center;
}
.user-Id-Text {
  padding-left: 7px;
  font-size: 15px;
  padding-top: 7px;
}
.date-Time {
  padding-left: 7px;
  font-size: 13px;
}
.dp-Pic {
  height: 47px;
  border-radius: 40px;
}
.like-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  color: white;
  font-size: 15px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  background-color: blue;
}
.comment-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  color: white;
  font-size: 17px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  font-size: 12px;
  background-color: blue;
}
